*{
	padding:0;
	margin:0;
}

html{
	background-color: #e95b4c;
}

/* code for animated blinking cursor */
.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

input{
    -webkit-appearance: textfield;
    padding: 0px;
    background-color: transparent;
    border: none;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    outline: none;
}

input, textarea, keygen, select, button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    outline: none;
}

input#typed {
    /* white-space: pre; */
    width: 100%;     
    /* max-width: 900px; */     
    /* height: 50px; */
    display: block;     
    text-align: center;
    margin: 0px 0px;

	
    font-family:'Arial';
	
	
    font-size: 40px;

	
    color: #ecf0f1;
	
    text-shadow: 0px 1px #bdc3c7;
}

.type-wrap{
	transform: translate(-50%, -50%);
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 20px;
	resize: none;
	overflow: auto;

	font-family:'Arial';
	
	font-size: 40px;

	color: #ecf0f1;
	text-align: center;
	text-shadow: 0px 1px #bdc3c7;

}